*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
img{
    max-width: 100%;
    vertical-align: middle;
}
label {
	text-transform: capitalize;
	display: block;
	margin-bottom: 8px;
}

.error{
    color: red;
}
.success{
    color: green;
}

form span{
    display: block;
}
input{
    /* border: 1px solid #ddd; */
}
select{
    /* border: 1px solid #ddd; */
}

/* input{
    border: 1px solid #ddd;
} */
 table{
    width: 100%;
    border-collapse: collapse;
 }
 th {
	text-align: left;
	padding: 6px;
	background:  #af7ac5 ;
}
td {
	padding-left: 6px;
	padding-top: 15px;
}
.main{
    width: 1000px;
    margin: auto;
}

/* Header area start */
.login-area{}
#header{}
#header h3, .footer-area {
    text-align: center;
	padding: 14px 0;
	text-transform: capitalize;
	background: teal;
	color: #fff;
	font-size: 30px;
	font-weight: bold;
}
/* Header area end */

/* Login area start */
.login {
	overflow: hidden;
	background-image: url('../img/attendance-1.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100%;
	text-align: center;
	padding-top: 20%;
}
.login h4 {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 20px;
}
.form-group-inline{}
.form-group{}
.form-group input {
	width: 37%;
	padding: 10px 2px;
	/* margin-bottom: 10px; */
	border-radius: 10px;
	/* border: none; */
}
.login .form-group{
    margin-bottom: 10px;
}
.form-group input:focus {
    border: 1px solid aqua;
    outline: none;
}
.form-group input[type="submit"] {
	cursor: pointer;
    background-color: #2ecc71;
    color: #fff;
    font-size: 16px;
    transition: .9s;
}
.form-group input[type="submit"]:hover {
    background-color: tomato;
    transition: .9;
}
.form-group a {
	padding: 11px 44px;
	display: inline-block;
	border-radius: 10px;
	margin-right: 15px;
    color: #fff;
    font-size: 16px;
    transition: .9s;
    text-transform: capitalize;
}
.form-group a:first-of-type{
    background-color:  #2e86c1;
}
.form-group a:last-of-type{
    background-color:  #5dade2;
    margin-right: 0;
}
.form-group a:hover{
    background-color:  tomato;
}
/* Login area end */

/* forget pass area start */
.forget-pass-area {
	width: 50%;
	margin: auto;
	margin-top: 20px;
	border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.forget-pass-area h4 {
	text-transform: capitalize;
	font-size: 16px;
	font-weight: bold;
	padding: 30px;
}
.forget-pass {
	border-top: 1px solid #e8daef;
	padding: 30px;
	border-bottom: 1px solid #e8daef;
}
.forget-pass p {
	margin-bottom: 15px;
}
.form-group-inline{}
.form-group{}
.forget-pass-area .form-group input {
    border: 1px solid #ddd;
    width: 100%;
  }
  
.btn-group {
    text-align: end;
    padding: 30px;
  }
.btn-group a {
	padding: 11px 25px;
	margin-right: 10px;
	background: #e74c3c;
	border-radius: 10px;
	color: #fff;
	font-size: 16px;
}
  
.btn-group input {
	padding: 10px 24px;
	border-radius: 10px;
	background-color: #2ecc71;
	border: none;
	color: #fff;
	font-size: 16px;
    cursor: pointer;
}
/* forget pass area end */

/* Sign up area start */
.signup-area, .class-area {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	border: 1px solid #ddd;
    padding: 30px;
}
.signup-form {
	width: 60%;
	margin: auto;
	overflow: hidden;
}
.signup-form h3 {
	text-align: center;
	text-transform: capitalize;
	font-size: 30px;
	font-weight: bold;
	border-left: 1px solid  #cb4335 ;
	width: 20%;
	margin: 20px auto 30px auto;
}
.signup-form .form-group {
	width: 50%;
	float: left;
    padding-bottom: 20px;
}
.signup-form .form-group input {
	border: 1px solid #ddd;
	width: 90%;
}
.signup-form .form-group input:focus {
    outline: none;
    border: 1px solid aqua;
}
.signup-form .form-group input[type="radio"] {
	width: 6%;
	margin-right: 5px;
}
.form-group select {
    width: 90%;
    padding: 10px 5px;
    border-radius: 10px;
    border: none;
    /* margin-bottom: 20px; */
    cursor: pointer;
    border: 1px solid #ddd;
	cursor: pointer;
}
.signup-form .form-group select{
	margin-bottom: 20px;
}
.form-group select:focus{
    border: 1px solid aqua;
    outline: none;

}
.signup-form .form-group:last-child{

}
.signup-form input[type="submit"]{

}
/* Sign up area end */

/* Student header area start */
.student-header, .teacher-header {
	overflow: hidden;
	background: teal;
	padding: 20px;
}
.logo {
	float: left;
}
.logo a {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
    transition: .9s;
}
.logo a:hover{
    color: tomato;
}
.menu {
	float: right;
}
.menu ul{}
.menu ul li {
	display: inline;
}
.menu ul li a {
	text-transform: capitalize;
	font-size: 16px;
	color: #fff;
	padding: 10px;
	margin-right: 10px;
	font-weight: bold;
	transition: .9s;
}
.menu ul li:last-of-type a{
    margin-right: 0;
}
.menu ul li a:hover{
    color: tomato;
}
/* Student header area end */

/* Student profile area start */
.profile-area {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border: 1px solid #ddd;
}
.profile {
	overflow: hidden;
	width: 75%;
	margin: 0 auto 0 auto;
}
.profile h3 {
	margin: 55px 0;
	text-transform: capitalize;
	font-weight: bold;
	font-size: 20px;
	border-left: 1px solid red;
	padding-left: 5px;
}
.profile .form-group {
	width: 50%;
	float: left;
	margin-bottom: 30px;
}
.profile .form-group input[type="submit"]{
    margin-top: 23px;
}
.profile .form-group input {
	width: 90%;
	border: 1px solid #ddd;
}
.profile .form-group input[type="radio"]{
    width: 16px;
    margin-right: 5px;
}
/* Student profile area end */

/* Student attendace area start */
.attendance {
	box-shadow: 0 0 10px rgba(0, 0, 0 , 0.1);
	/* border: 1px solid #ddd; */
}
.about {
    /* text-align: center; */
    padding: 50px 0 50px 50px;
}
.about h3 {
    text-transform: capitalize;
	font-size: 20px;
	margin-bottom: 10px;
	font-weight: bold;
	/* color: blue; */
}
.about p{}
.about p span {
	/* font-size: 20px; */
	/* color: blue; */
	/* border-right: 1px solid red;
	padding-right: 10px; */
}
.about p span:last-of-type{
    padding-left: 5px;
    padding-right: 0;
    border-right: 0;
}
.about p:last-of-type{
    margin-top: 10px;
    font-size: 20px;
}

.attendance-form, .student-record {
	overflow: hidden;
	padding-bottom: 50px;
	/* padding-left: 20px; */
	width: 90%;
	margin: auto;
}
.attendance-form h3, .student-record h3 {
	text-transform: capitalize;
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 20px;
	border-left: 1px solid red;
	padding-left: 5px;
}
.attendance-form h3, .student-record h3 span{
	font-weight: normal;
    font-size: 16px;
    padding-left: 20px;
}

.attendance-form .form-group label {
	border-bottom: 1px solid red;
	padding-bottom: 20px;
	margin-bottom: 25px;
}
.attendance-form .form-group {
    width: 50%;
    float: left;
    padding-top: 30px;
}
.attendance-form .form-group input {
    margin-right: 15px;
    border: 1px solid #ddd;
}
.attendance-form .form-group select{}

.attendance-form .form-group input[type="radio"] {
	width: 5%;
    margin-right: 5px;
}
.attendance-form .form-group span{
    margin-right: 25px;
}
/* .student-record table tr td {
    border: 1px solid black;
    padding: 20px;
} */
.studnet-attendance-record, 
.studnet-attendance-record-monthly,
.monthly-attendance-summary{
    margin: 30px 0;
    padding: 0 48px;
}
.studnet-attendance-record p{
	width: 25%;
    margin: 0 auto;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
}
.studnet-attendance-record table tr, 
.studnet-attendance-record-monthly table tr ,
.monthly-attendance-summary table tr {
    border: 1px solid teal;
}
.studnet-attendance-record table tr td, 
.studnet-attendance-record-monthly table tr td,
.monthly-attendance-summary table tr td{
    border: 1px solid teal;
    padding: 20px;
}
/* monthly-attendance-summary */
.studnet-attendance-record table tr td:last-of-type, 
.studnet-attendance-record-monthly table tr td:last-of-type, 
.monthly-attendance-summary table tr td:last-of-type{
    border: none;
}

/* .student-record table tr td:first-of-type{
	padding: 15px;
}
.student-record table tr td:last-of-type{
	padding: 15px;
} */
/* .student-record table tr td table tr{
	border-bottom: 1px solid black;
} */
/* .student-record table tr td table tr:last-of-type{
	border-bottom: 0px;
}
.student-record table tr td table tr td {
    border-top: 0px;
    border-bottom: 0px;
    border-right: 0px;
    border-left: 0px;
    padding: 15px;
} */
/* Student attendace area end */

/* Change password area start */
.change-password {
	/* padding-top: 40px; */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border: 1px solid #ddd;
}
.change-password h3 {
	text-transform: capitalize;
	font-size: 25px;
	font-weight: bold;
	border-left: 1px solid red;
	width: 36%;
	margin: 40px auto;
	padding-left: 5px;
}
.change-password .form-group {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 20px;
}
.change-password input{
    border: 1px solid #ddd;
}
/* Change password area end */

/* Attendance record area start */
.attendance-record-section {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border: 1px solid #ddd;
	padding: 30px 0;
}
.attendance-record-section h3 {
	width: 30%;
	margin: 0 auto 40px auto;
	border-left: 1px solid red;
	padding-left: 5px;
	text-transform: capitalize;
}
.attendance-record-section .form-group {
    text-align: center;
    /* margin-bottom: 25px; */
    width: 92%;
}

.attendance-record-section .form-group:last-of-type {
    /* margin-bottom: 50px; */
    width: 92%;
}
.attendance-record-section .form-group input[type="date"] {
    width: 25%;
    border: 1px solid #ddd;
    margin: 2px 0 15px 0;
}
.attendance-record-section a {
    display: block;
    width: 31%;
    margin: auto;
    padding: 5px 0;
    margin-top: 10px;
	color: black;
	transition: .5s;
}
.attendance-record-section a:first-of-type{
	margin-top: 0px;
}
.attendance-record-section a:hover{
	color: tomato;
}
.attendance-record-section .form-group input[type="submit"] {
    width: 30%;
    border: 1px solid #ddd;
}
.attendance-record-section .form-group label {
    display: inline;
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
}
.attendance-record-section .form-group input[type="date"]{

}
.attendance-record-section .monthly-record select {
    width: 26%;
    margin-bottom: 12px;
}
.attendance-record{
    width: 90%;
    margin: 0 auto;
}
/* Attendance record area end */

/* Add new class area start */
.class-area h3 {
	text-transform: capitalize;
	border-left: 1px solid red;
	padding-left: 5px;
	font-size: 20px;
	font-weight: bold;
	width: 20%;
	margin: 0 auto 20px auto;
}
.add-class-form .form-group {
	width: 50%;
	margin: auto;
	margin-bottom: 20px;
}
.add-class-form .form-group input[type="submit"]{
	width: 90%;
	margin: auto;
}
.add-class-form .form-group .single-subject{
	display: inline;
    float: left;
    margin-right: 15px;
	margin-bottom: 10px;
}

.add-class-form .form-group .single-subject input[type='checkbox']{
	width: 20px;
	margin-right: 5px;
}
.add-class-form .form-group .single-subject span{
	display: inline;
    text-transform: capitalize;
}
.add-class-form .form-group select{
    /* margin-bottom: 20px; */
}
/* Add new class area end */

/* Email verify */
.email-verify {
	width: 80%;
	margin: 0 auto;
	padding-top: 50px;
	text-align: center;
}
.email-verify h3{}
.email-verify p {
	margin: 20px 0;
}
.email-verify .form-group {
	padding-bottom: 30px;
}
.email-verify .form-group input{}

.class .form-group {
    width: 30%;
    margin: 0 auto;
    padding-bottom: 50px;
}
/* Email verify */
/* Footer srea start */
.footer-area{
    font-size: 16px;
}   
.footer-area p{
}
/* Footer srea end */

